@page  "{handler?}"
@model Company.WebApplication.Pages.DirectEventsModel
@using Company.WebApplication.Data
@{
    ViewData["Title"] = "DirectEvent";
}
<ext-viewport layout="Border">
    <items>
        <ext-container
            region="North"
            cls="navbar"
            paddingAsString="0 20"
            height="64">
            <layout>
                <ext-hBoxLayout align="Middle" pack="Start" />
            </layout>
            <items>
                <ext-component
                    flex="1"
                    html=@("<a class=\"app-logo\" href=\"/\">Ext.NET App</a>")
                    />
                <ext-component flex="1" />
                <ext-button
                    ui="Light"
                    scale="Medium"
                    iconCls="x-md md-icon-open-in-new"
                    iconAlign="Right"
                    text="Ext.NET Home"
                    href="https://ext.net"
                    />
            </items>
        </ext-container>

        <ext-container
            region="West"
            cls="sidebar"
            width="240"
            scrollable="true"
            paddingAsString="20">
            <layout>
                <ext-vboxLayout align="Stretch" />
            </layout>
            <items>
                <ext-container flex="1">
                    <content>
                        <partial name="_Navigation" />
                    </content>
                </ext-container>
                <ext-label cls="sidebar-footer" html=@("<a href=\"https://ext.net/download\">Ext.NET Classic 7.0.0</a>") />
            </items>
        </ext-container>
        
        <ext-container region="Center" scrollable="true" paddingAsString="30 20 30 50">
            <content>
                <h1>DirectEvent</h1>

                <ext-button text="Click me" onDirectClick="ButtonClick" />
            </content>
        </ext-container>
    </items>
</ext-viewport>